<!DOCTYPE html>
<html>
  <head>
    <title>Doc2game Game Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Game Generated</h1>
      <br>
      <iframe height='700px' width='1000px' src='/static/unity_builds/WebPlayerBuild.html'></iframe>
    </div>
  </body>
</html>

